Package: google-earth-stable
Version: 7.1.4.1529-r0
Architecture: amd64
Maintainer: Google Earth Team <google-earth-support@google.com>
Installed-Size: 198615
Pre-Depends: dpkg (>= 1.14.0)
Depends:
Section: net
Priority: optional
Description: Explore, search and discover the planet
 Google Earth lets you fly anywhere to see satellite imagery, 3D buildings, 3D trees, terrain, Street View, planets and much more.
